.typography ul.CalendarPageMenu, ul.CalendarPageSearch {
	list-style-type: none;
	padding-left: 0;
	margin-left: 0;
}

ul.CalendarPageSearch {
	float: right;
}

form#EventSearch {
	width: 100%;
}

#EventSearchQuery {
	margin-top: 10px;
    padding: 4px 15px;

}

input[name=q] {
	display: inline;
	float: left;
}

input[value=search] {
	display: inline;
	float: right;
}

ul.CalendarPageMenu li, ul.CalendarPageSearch li {
	display: inline-block;
	padding-right: 1em;
}

.EventList .event {
	background: yellow;
	display: block;
	clear: both;
	padding: 10px;
}

.EventList .event.odd {
	background: #efefef;
}

.event.row {
	margin-bottom: 20px;
}

.event:before, .event:after {
	content: "";
	display: table;
}

.event:after {
	clear: both;
}

.event .content {
	margin-left: 100px;
}

.event h4 {
	color: #333;
	letter-spacing: -1px;
	margin-top: 0;
}

.event .details {
	margin: 10px 0;
	overflow: hidden;
}

.event .details p {
	font-size: 12px;
	text-overflow: ellipsis;
}

.event .feedBox {
	width: 30px;
	position: absolute;
}

.EventRegistration h3 span {
	display: block;
}

.EventRegistration h3 span.first {
	color: #999;
	font-size: 80%;
}

.EventRegistration form {
	margin-top: 26px;
}

.fc-event {
	cursor: pointer !important;
}

/* This prevents the calendar from scrolling internally */
.fc-scroller {
    overflow: visible !important ;
}

.typography .fc-view-container table td, .typography .fc-view-container table th {
    padding: 0px;
}

#FullcalendarCustomNav a.current {
	background-color: #e6e6e6;
}
